@font-face {
  font-family: HomeVideo; /* set name */
  src: url(/img/home-video-font/HomeVideo-BLG6G.ttf); /* url of the font */
}



body{
    background-image: url(/img/background_1.png);
    background-clip: padding-box;
    background-size: cover;

}

.attack-menu {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  position: fixed;
  left:0;
  bottom: 0;
  width: 30%;
  margin: 50px;
  padding: 40px;
  border-image-slice: 81 60 60 60 fill; 
  border-image-outset:70px; 
  border-image-width: 100px; 
  border-image-source: url(/img/borders/1.png);

}


.attack-btn{
    padding: 10px;
    background: none;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-family: HomeVideo;
    display: inline-block;
    border: 20px;
    word-wrap: break-word;
      border-image-slice: 5;
    border-image-width: 10px;
    border-image-outset:2px; 
    border-image-source: url(/img/borders/button.png);
    border-image-repeat: 100% 100%;
    
}

.attack-btn:hover{
    
    border-image-outset:6px; 
    border-image-source: url(/img/borders/button_selected.png);
    transition-property: transform;
    transition-duration: .05s;
}

.attack-btn:active{
    transform: translateY(4px);
}


.pergunta-div{
    padding: 15px;
    background: none;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    font-family: HomeVideo;
    display: inline-block;
    word-wrap: break-word;
      border-image-slice: 2;
    border-image-width: .5vh;
    border-image-outset:1.5vh; 
    border-image-source: url(/img/borders/pegurta_border.png);
    border-image-repeat: 100% 100%;
    
}


.pergunta-menu{
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  left:0;
  top: 0;
  width: 30%;
  margin: 6vh;
  padding: 6vh;
  border-image-slice: 81 60 60 60 fill;
  border-image-outset:70px; 
  border-image-width: 100px; 
  border-image-source: url(/img/borders/1.png);

}
.perfil-position{

    right: 0;
    display: flex;
    position: absolute;
    top: 0;
    margin: 20px;
    
}

.perfil{

    width: 40vh;
    height: auto;

    
}

.enemy-position{

    right: 15%;
    display: flex;
    position: absolute;
    top: 55%;
    
}

.enemy{

    right: 15%;
    height: 40vh;
    display: flex;
    position: absolute;
    top: 40%;
    
}

.shadow{
    right: 15%;
    height: 40vh;
    display: flex;
    position: absolute;
    margin-top: 4vh;
    z-index: -1;
}



.point-filter{
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}