@font-face {
  font-family: HomeVideo; /* set name */
  src: url(/img/home-video-font/BoldPixels-BLG6G.ttf); /* url of the font */
}

@font-face {
  font-family: BoldPixels; /* set name */
  src: url(/img/fonts/boldpixels/BoldPixels.ttf); /* url of the font */
}



body{
    background-image: url(/img/background_1.png);
    background-clip: padding-box;
    background-size: cover;
    font-family: BoldPixels;
    font-size: 22px;

}



.center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.questSelectable {
    width: 100%;
}

.questText {
    margin-top: 10px;            /* opcional */
    font-family: BoldPixels;
    text-align: center;
}

.questItem {
    display: flex;
    flex-direction: column;     /* imagem em cima, texto embaixo */
    align-items: center;        /* centraliza tudo */
    width: 150px;               /* ajuste conforme o tamanho da imagem */
    margin: 10px;
}

.questItem:hover{
    border-image-slice: 5;
    border-image-width: 10px;
    border-image-repeat: 100% 100%;
    border-image-outset:15px; 
    border-image-source: url(/img/borders/5.png);
    transition-property: transform;
    transition-duration: .05s;
    transform: translateY(-2px);
}

.questItem:active{
    transform: translateY(4px);
}

.menu-selecionarQuest{
    row-gap: 1vh;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 700px;
    padding: 50px;
    display: flex;
    margin-top: 2%;
    border-image-slice: 81 60 60 60 fill; 
    border-image-outset:70px; 
    border-image-width: 100px; 
    border-image-source: url(/img/borders/1.png);

}
.questContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.menu-login {
    
    row-gap: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15em;
    padding: 25px;
    display: flex;
    
    margin-top: 2%;
    border-image-slice: 81 60 60 60 fill; 
    border-image-outset:70px; 
    border-image-width: 100px; 
    border-image-source: url(/img/borders/1.png);

}

.loginForm{
    display: flex;
    flex-direction: column;
}

.analiseRes{
    display: flex;
    flex-direction: row;
    width: 100%;
        
}
.analiseResIn{
    display: flex;
    flex-direction: row;
    width: 50%;
    word-wrap: break-word;
}

.loginFormAnalise{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#AnaliseContainer{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: BoldPixels;
}

h4{
    font-family: BoldPixels;
}

.align-text{
    text-align: center;
}

.notFound{
    font-size: 50px;
    text-align: center;
    color: red;
    word-wrap: break-word;
    margin: 1em 7em 4em 7em ;
}

#titulo-login{
    top: 0;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;

}

#login-logo{
    display: flex;
    align-self: center;
    width: 10em;
    margin-top: 10px;
    margin-bottom: 10px;

}



.attack-menu {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  position: fixed;
  left:0;
  bottom: 0;
  width: 30%;
  margin: 50px;
  padding: 40px;
  border-image-slice: 81 60 60 60 fill; 
  border-image-outset:70px; 
  border-image-width: 100px; 
  border-image-source: url(/img/borders/1.png);

}
.attack-btn-dev{
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin: 4px;
    font-size: 15px;
    font-family: BoldPixels;
    display: inline-block;
    border: 20px;
    word-wrap: break-word;
      border-image-slice: 5;
    border-image-width: 10px;
    border-image-outset:2px; 
    border-image-source: url(/img/borders/button.png);
    border-image-repeat: 100% 100%;
    
}

.attack-btn{
    padding: 10px;
    background: none;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-family: BoldPixels;
    display: inline-block;
    border: 20px;
    word-wrap: break-word;
      border-image-slice: 5;
    border-image-width: 10px;
    border-image-outset:2px; 
    border-image-source: url(/img/borders/button.png);
    border-image-repeat: 100% 100%;
    
}

.attack-btn:hover{
    
    border-image-outset:6px; 
    transform: translateY(-2px);
    border-image-source: url(/img/borders/button_selected.png);
    transition-property: transform;
    transition-duration: .05s;
}

.attack-btn:active{
    transform: translateY(4px);
}

.criarQuest-btn{
    background: none;
    text-align: center;
    width: 100%;
    margin-top: auto;
    height: 50px;
    bottom: 0;
    font-size: 25px;
    font-family: BoldPixels;
    border: 20px;
    word-wrap: break-word;
      border-image-slice: 5;
    border-image-width: 10px;
    border-image-outset:2px; 
    border-image-source: url(/img/borders/button.png);
    border-image-repeat: 100% 100%;
    
}

.criarQuest-btn:hover{
    
    border-image-outset:6px; 
    border-image-source: url(/img/borders/button_selected.png);
    transition-property: transform;
    transform: translateY(-2px);
    transition-duration: .05s;
}

.criarQuest-btn:active{
    transform: translateY(4px);
}


.pergunta-div{
    padding: 15px;
    background: none;
    text-align: center;
    margin: 0px;
    font-size: 20px;
    font-family: BoldPixels;
    display: inline-block;
    word-wrap: break-word;
      border-image-slice: 2;
    border-image-width: .5vh;
    border-image-outset:1.5vh; 
    border-image-source: url(/img/borders/pegurta_border.png);
    border-image-repeat: 100% 100%;
    
}

.pergunta-div-dev{
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: BoldPixels;
    display: inline-block;
    word-wrap: break-word;
      border-image-slice: 2;
    border-image-width: .5vh;
    border-image-outset:.5vh; 
    border-image-source: url(/img/borders/pegurta_border.png);
    border-image-repeat: 100% 100%;
    
}


.pergunta-menu{
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  left:0;
  top: 0;
  width: 30%;
  margin: 6vh;
  padding: 6vh;
  border-image-slice: 81 60 60 60 fill;
  border-image-outset:70px; 
  border-image-width: 100px; 
  border-image-source: url(/img/borders/1.png);

}
.perfil-position{

    right: 0;
    display: flex;
    position: absolute;
    top: 0;
    margin: 20px;
    
}

.perfil{

    width: 40vh;
    height: auto;

    
}

.enemy-position{

    right: 15%;
    display: flex;
    position: absolute;
    top: 55%;
    
}

.enemy{
      transform: scaleX(-1);
    right: 15%;
    height: 40vh;
    display: flex;
    position: absolute;
    top: 40%;
    
}

.shadow{
    right: 15%;
    height: 40vh;
    display: flex;
    position: absolute;
    margin-top: 2vh;
    z-index: -1;
}



.point-filter{
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}