<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PesquisaRPG - Analise Questionário</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div class="center">

        <div class="menu-selecionarQuest point-filter">
            <h1 id="titulo-login"></h1>
            <h3 id="senha-sala" style="margin-top: 0;"></h1>
            <div id="AnaliseContainer"></div>
            
        </div>
    </div>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/analiseQuest.js"></script>

</body>
</html>