<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PesquisaRPG - Criar Questionário</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div class="center">

        <form class="menu-login point-filter">
            <h1 id="titulo-login">Criar Questionário</h1>
            <h4 class="align-text">
                        Nome do Questionário
                    </h4>
            <input id ="nome-quest" placeholder="Nome" class="pergunta-div-dev" required>
            <div class="pergunta-Container">

                <div id="loginForm1" class="loginForm">
                    <h4 class="align-text">
                        Pergunta 1
                    </h4>
                    <input placeholder="Pergunta" class="pergunta pergunta-div-dev" required>
                    <input placeholder="1º Resposta" class="resposta1 attack-btn-dev" required>
                    <input placeholder="2º Resposta" class="resposta2 attack-btn-dev" required>
                    <input placeholder="3º Resposta" class="resposta3 attack-btn-dev" required>
                    <input placeholder="4º Resposta" class="resposta4 attack-btn-dev" required>
                </div>
            </div>
            
            <button id="adicionar-btn" type="button" class="attack-btn point-filter">Adicionar Pergunta</button>
            <button id="publicar-btn" type="submit" class="criarQuest-btn point-filter">Publicar Questionário</button>
            <button id="voltar-btn" type="button" class="criarQuest-btn point-filter" onclick="location.href='/SelecionarQuest'">Voltar</button>
        </form>
    </div>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/criarquest.js"></script>
</body>
</html>