<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PesquisaRPG - Login</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div class="center">

        <div class="menu-login point-filter">
            <h1 id="titulo-login">Login</h1>
            <img id= "login-logo" class="point-filter" src="/img/enemies/slime.png">
            <form id="entrarQuest-form"class="loginForm">
                <h4 class="align-text">
                    Entrar Questionário
                </h4>
                <input id="SenhaSala"type="text" placeholder="Senha da sala" class="pergunta-div-dev"required>
                <button id="entrarQuest-btn" type="submit" class="attack-btn point-filter">Entrar</button>
            </form>
            <form id="entrarCriarQuest-form"class="loginForm">
                <h4 class="align-text">
                    Criar Questionário
                </h4>
                <input id="emailCriarQuest" type="email" placeholder="Email" class="pergunta-div-dev" required>
                <input id="senhaCriarQuest" type="password" placeholder="Senha" class="pergunta-div-dev" required>
                <button id="entrarCriarQuest-btn" type="submit" class="attack-btn point-filter">Entrar</button>
                <button type="button" class="attack-btn point-filter" onclick="location.href='/Registrar'">Registrar</button>
                
            </form>
        </div>
    </div>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/login.js"></script>

</body>
</html>