<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PesquisaRPG - Selecionar Questionário</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div class="center">

        <div class="menu-selecionarQuest point-filter">
            <h1 id="titulo-login">Questionários Criados</h1>
            <div class = "questContainer">
            </div>
            <button id="CriarQuest-btn" type="button" class="criarQuest-btn point-filter" onclick="location.href='/CriarQuest'">Criar Questionário</button>
            <button id="voltar-btn" type="button" class="criarQuest-btn point-filter" onclick="location.href='/'">Voltar</button>
        </div>
    </div>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/selecionarQuest.js"></script>

</body>
</html>